*{
    margin: 0;
    padding: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

nav{
    background-color: #00004c;
    height: 8vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: white;
    .logo{
        font-weight: bolder;
    }
    .menu{
        display: flex;
        gap: 10px;
        list-style: none;
        a{
            color: #72729c;
            text-decoration: none;
        }
    }
}